@media (prefers-color-scheme: light) {
	html {
		color-scheme: light;
	}
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
}

body {
	display: flex;
	justify-content: center;
	flex-direction: column;
	min-height: 100vh;
	margin: 0;
	font-size: x-large;
	font-family: Bahnschrift, Arial, Helvetica, sans-serif;
	text-align: center;
}
#logo {
	height: 2em;
	margin-inline: 1em;
	vertical-align: middle;
}
h1 {
	color: #941b0c;
	display: inline-block;
	vertical-align: middle;
}
table {
	margin-inline: auto;
	font-size: larger;
	border-spacing: 0;
}
tr {
	padding: 7px;
	transition: 500ms;
}
tr:hover {
	transform: translateX(10px);
}
td {
	word-break: break-word;
}
td, th {
	padding-inline: 1ch;
}
table td:nth-child(1) {
	border-right: 1px solid #888;
}
th {
	opacity: 0.7;
	padding: 1em;
}
#tableBody tr:nth-child(2n) {
	background-color: #e2bc8b38;
}
#tableBody tr:nth-child(1) {
	box-shadow: 0px 0px 8px #FF0;
}
#tableBody tr:nth-child(2) {
	box-shadow: 0px 0px 4px #FF08;
}
p {
	font-style: italic;
	margin-inline: auto;
}
#sponsor {
	opacity: 0.7;
	font-style: italic;
	color: #941b0c;
	font-size: small;
}