[data-theme="auto"] {
	color-scheme: light dark;
}
[data-theme="dark"] {
	color-scheme: dark;
}
[data-theme="light"] {
	color-scheme: light;
}

@media (prefers-color-scheme: light) {
	[data-theme="auto"]:root {
		--main-color: #941b0c;
	}
}
[data-theme="light"]:root {
	--main-color: #941b0c;
}

@media (prefers-color-scheme: dark) {
	[data-theme="auto"]:root {
		--main-color: #de2a13;
	}
	[data-theme="auto"] #logo {
		filter: brightness(1.5);
	}
}
[data-theme="dark"]:root {
	--main-color: #de2a13;
}
[data-theme="dark"] #logo {
	filter: brightness(1.5);
}

@media (max-width: 700px) {
	#leaderboard {
		font-size: 50%;
	}
}

body {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	min-height: 100vh;
	margin: 0;
	font-size: x-large;
	font-family: Oswald, Arial, Helvetica, sans-serif;
	text-align: center;
	cursor: default;
}

header {
	border-bottom: 1px solid gray;
	box-shadow: 0 -19px 74px var(--main-color);
}
#logo {
	height: 2em;
	margin-inline: 1em;
	vertical-align: middle;
}
h1 {
	color: var(--main-color);
	display: inline-block;
	vertical-align: middle;
}
#leaderboard {
	margin: 1em auto;
	border-spacing: 0;
	text-align: right;
}
.lb_line {
	border-bottom: 3px solid transparent;
	transition: 500ms;
}
.lb_line.negative {
	opacity: 0.5;
}
.lb_line:hover,
.lb_line:focus {
	border-bottom: 3px solid var(--main-color);
	transform: translateY(-5px);
	outline: none;
}
.lb_line:hover .points,
.lb_line:focus .points {
	color: var(--main-color);
}
.pseudo {
	font-family: 'Press Start 2P', monospace;
}
.points {
	font-family: 'Tektur', sans-serif;
	font-size: 1.5em;
	vertical-align: bottom;
	margin-left: 2ch;
	transition: 1s cubic-bezier(.22,.61,.36,1);
}
.award {
	height: 1.5em;
	margin-right: 1ch;
	image-rendering: pixelated;
	filter: drop-shadow(8px 7px 3px #0004);
}
.award:not(:hover) {
	animation: float 3s infinite ease-in-out;
}
@keyframes float {
	0% {
		transform: translateY(2px);
	}
	50% {
		transform: translateY(-5px);
	}
	100% {
		transform: translateY(2px);
	}
}
.award:hover {
	transform: scale(1.5) rotate3D(0,1,-0.2,20deg);
	filter: drop-shadow(8px 7px 14px #0008) brightness(1.1);
}

#awardContainer {
	position: fixed;
	inset: 0;
	background: radial-gradient(#000, #0008 90%);
	color: #fff;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	perspective: 400px;
	display: none;
}
#awardContainer.hide {
	display: flex;
	animation: disappear 500ms;
}
@keyframes disappear {
	from {opacity: 1;}
	to {opacity: 0;}
}
#awardContainer.visible {
	display: flex;
	animation: appear 500ms;
}
@keyframes appear {
	from {opacity: 0;}
	to {opacity: 1;}
}
#awardFSImg {
	height: 40vh;
	image-rendering: pixelated;
	transform: rotateY(5deg)
}
#awardContainer.visible #awardFSImg {
	animation: turn 2s;
}
@keyframes turn {
	0% {transform: rotateY(-40deg);
		filter:brightness(1);}
	50% {filter:brightness(1.2);}
	100% {transform: rotateY(5deg);
		filter:brightness(1);}
}
#awardFSClose {
	font-size: small;
	opacity: 0.5;
	margin-bottom: 3em;
}

#stats {
	font-family: 'Press Start 2P', monospace;
	font-size: small;
	margin-block: 6em;
}
.stats_nb {
	font-family: 'Tektur';
	font-size: large;
}
p {
	font-style: italic;
	margin-inline: auto;
}
#sponsor {
	font-style: italic;
	color: var(--main-color);
	font-size: small;
}
#updatedDate {
	font-size: 0.5em;
}